* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto;
  background-color: #f4f4f4;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 42%;
  background: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
}

.top-card {
  display: -webkit-inline-box;
  flex-wrap: wrap;
}

.merchant {
  width: 30%;
}

.profile {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  padding: 1em;
  position: relative;
  z-index: 1;
  margin-top: 5%;
  align-items: center;
}

.company {
  font-size: 30px;
  font-weight: bolder;
}
.email {
  margin-top: 5px;
}

.detail {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background: #f5f2f2;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
}

.image-detail {
  width: 100%;
  height: 300px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
  background: #c4c4c4;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description {
  font-weight: normal;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.background-price .price {
  display: flex;
  align-items: center;
  height: 43px;
  width: 30%;
  background-color: #0000ff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: medium;
  font-weight: bold;
}

.background-price {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.box {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 32px;
  border: none;
  overflow: hidden;
  padding-left: 10px;
  background: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.remark-box {
  margin-top: 20px;
  width: 100%;
  height: 107.58px;
  overflow: hidden;
  background: #f4f4f4;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
}

.note {
  background-color: #ddffdd;
  border-left: 6px solid #4caf50;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.check-out-button {
  position: relative;
  left: 35%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 30%;
  height: 31px;
  background: #0000ff;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}

@media screen and (max-width: 1030px) {
  .container {
    width: 100%;
    margin-top: 0px;
  }

  .top-card {
    display: block;
  }

  .merchant {
    margin-left: 35%;
    width: 30%;
  }

  .company {
    text-align: center;
  }
  .email {
    text-align: center;
  }

  .detail .title {
    text-align: center;
  }

  .detail {
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-detail {
    margin-top: 0px;
    box-shadow: none;
  }

  .background-price {
    justify-content: center;
  }

  .background-price .price {
    width: 100%;
  }

  .check-out-button {
    position: relative;
    left: 25%;
    margin-top: 4%;
    margin-bottom: 2%;
    width: 50%;
  }
}
